/* Just some basic centering and spacing */
body {
    font-family: sans-serif;
    margin: 40px;
    background-color: #eeeeee;
}

h1 {
    color: navy;
}

#display {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
}

/* To make the errors stand out a bit */
p {
    margin: 10px 0;
    border-bottom: 1px dotted #ccc;
}
